@import '../globalStyles.scss';

.aboutMeContent {
    width: 100%;
    height: 100vh;
    color: $colorLight;
    background-color: #000;
    position: relative;
    padding: 45px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .spacingBox {
        width: 20%;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        .imageBoxWrapper {
            height: 100%;
            padding: 10px;
            padding-bottom: 0;
            border-radius: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: $colorDark;
        }
        .contactInfo {
            height:80%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: $colorLight;
            border-radius: 5px;
            padding-top: 40px;

            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }
            
            div {
                width: 60%;
                display: flex;
                justify-content: space-between;
                height: 40px;
                align-items: center;
                font-family: $font1;
                color: $colorDark
            }
            
            span {
                font-family: $font1;
                color: #000;
            }
        }
        .imBackground {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        img {
            position: relative;
            width: 80%;
        }
    }
    .aboutMeFacts {
        background-color: $colorLight;
        border-radius: 5px;
        color: $colorDark;
        width: 20%;
        height: 80%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        h3 {
            font-family: $font2;
            font-size: 20px;
            color: $colorDark;
            border-bottom: 1px solid #FFF;
        }
        .skills, .methodology {
            font-family: $font1;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            li {
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
            }

        }
    }
    .aboutMeBlurb {
        width: 40%;
        // margin-top: 50px;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        p {
            text-indent: 2em;
            margin-bottom: 2em;
            width: 100%;
            font-size: 25px;
            line-height: 2.5em;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

}

@media only screen and (max-width: $xxxl)  {
    .aboutMeContent {
        // width: 100vw;
        // height: 100vh;
        color: $colorLight;
        background-color: #000;
        position: relative;
        padding: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .spacingBox {
            width: 25%;
            height: 65%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorDark;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 30px;
    
                h3 {
                    font-family: $font2;
                    font-size: 20px;
                    color: $colorDark;
                    border-bottom: 1px solid #FFF;
                    margin-bottom: 10px;
                }
                
                div {
                    width: 75%;
                    font-size: 16px;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0;
                    // margin-top: 10px;
                    // margin-bottom: 10px;
                    height: 40px;
                    // flex-direction: column;
                    align-items: center;
                    font-family: $font1;
                    color: $colorDark
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeFacts {
            background-color: $colorLight;
            border-radius: 5px;
            color: $colorDark;
            width: 25%;
            height: 65%;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }

            .skills, .methodology {
                font-family: $font1;
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
        .aboutMeBlurb {
            width: 40%;
            padding-left: 40px;
            padding-right: 40px;
            text-align: justify;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent:0;
                margin-bottom: 1em;
                width: 100%;
                font-size: 20px;
                line-height: 2em;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    
}

@media only screen and (max-width: $xxl)  {
    .aboutMeContent {
        // width: 100vw;
        // height: 100vh;
        color: $colorLight;
        background-color: #000;
        position: relative;
        padding: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .spacingBox {
            width: 30%;
            height: 65%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorDark;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 30px;
    
                h3 {
                    font-family: $font2;
                    font-size: 20px;
                    color: $colorDark;
                    border-bottom: 1px solid #FFF;
                }
                
                div {
                    width: 100%;
                    font-size: 16px;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 40px;
                    flex-direction: column;
                    align-items: center;
                    font-family: $font1;
                    color: $colorDark
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeFacts {
            background-color: $colorLight;
            border-radius: 5px;
            color: $colorDark;
            width: 30%;
            height: 65%;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }

            .skills, .methodology {
                font-family: $font1;
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
        .aboutMeBlurb {
            width: 40%;
            padding-left: 40px;
            padding-right: 40px;
            text-align: justify;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent:0;
                margin-bottom: 1em;
                width: 100%;
                font-size: 20px;
                line-height: 2em;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: $xl)  {
    .aboutMeContent {
        // width: 100vw;
        // height: 100vh;
        color: $colorLight;
        background-color: #000;
        position: relative;
        padding: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .spacingBox {
            width: 30%;
            height: 65%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorDark;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 50px;
    
                h3 {
                    font-family: $font2;
                    font-size: 20px;
                    color: $colorDark;
                    border-bottom: 1px solid #FFF;
                }
                
                div {
                    width: 100%;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 40px;
                    flex-direction: column;
                    align-items: center;
                    font-family: $font1;
                    color: $colorDark
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeFacts {
            background-color: $colorLight;
            border-radius: 5px;
            color: $colorDark;
            width: 30%;
            height: 65%;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }

            .skills, .methodology {
                font-family: $font1;
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
        .aboutMeBlurb {
            width: 40%;
            padding-left: 20px;
            padding-right: 20px;
            text-align: justify;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent:0;
                margin-bottom: 2em;
                width: 100%;
                font-size: 20px;
                line-height: 1.8em;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: $lg)  {

    $aboutMeHeight: 55%;
    .aboutMeContent {
        // width: 100vw;
        // height: 90vh;
        color: $colorLight;
        background-color: #000;
        position: relative;
        padding: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .spacingBox {
            width: 30%;
            height: $aboutMeHeight;
            // min-height: 800px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorDark;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 50px;
    
                h3 {
                    font-family: $font2;
                    font-size: 20px;
                    color: $colorDark;
                    border-bottom: 1px solid #FFF;
                }
                
                div {
                    width: 100%;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 40px;
                    flex-direction: column;
                    align-items: center;
                    font-family: $font1;
                    color: $colorDark
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeFacts {
            background-color: $colorLight;
            border-radius: 5px;
            color: $colorDark;
            width: 30%;
            height: $aboutMeHeight;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }

            .skills, .methodology {
                font-family: $font1;
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
        .aboutMeBlurb {
            width: 40%;
            padding-left: 20px;
            padding-right: 20px;
            text-align: justify;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent:0;
                margin-bottom: 2em;
                width: 100%;
                font-size: 20px;
                line-height: 1.6em;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: $md)  {
    .aboutMeContent {
        position: relative;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        .spacingBox {
            width: 80%;
            height: 72vh;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 20px;
                
                div {
                    width: 90%;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 50px;
                    align-items: center;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeBlurb {
            width: 90%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent: 0;
                margin-bottom: 1em;
                width: 100%;
                font-size: 20px;
                line-height: 2em;
            }
        }

        .aboutMeFacts {
            color: $colorDark;
            width: 80%;
            height: 700px;
            padding: 30px;
            margin-bottom: 100px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }
            .contactInfo {
                width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                font-family: $font2;
                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    height: 30px;
                    align-items: center;
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .skills, .methodology {
                font-family: $font1;
                width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
    
    }
}

@media only screen and (max-width: $sm)  {

    .aboutMeContent {
        position: relative;
        padding: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        .spacingBox {
            width: 80%;
            height: 85vh;
            min-height: 500px;
            max-height: 595px;
            .imageBoxWrapper {
                height: 100%;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }
            .contactInfo {
                height:80%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                background-color: $colorLight;
                border-radius: 5px;
                padding-top: 20px;
                
                div {
                    width: 90%;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 40px;
                    align-items: center;
                }
            }
            .imBackground {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            img {
                position: relative;
                width: 80%;
            }
        }
        .aboutMeBlurb {
            width: 90%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p {
                text-indent: 0;
                margin-bottom: 1em;
                width: 100%;
                font-size: 20px;
                line-height: 2em;
            }
        }

        .aboutMeFacts {
            color: $colorDark;
            width: 80%;
            height: 700px;
            padding: 30px;
            margin-bottom: 100px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            h3 {
                font-family: $font2;
                font-size: 20px;
                color: $colorDark;
                border-bottom: 1px solid #FFF;
            }
            .contactInfo {
                width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                font-family: $font2;
                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    height: 30px;
                    align-items: center;
                }
                
                span {
                    font-family: $font1;
                    color: #000;
                }
            }
            .skills, .methodology {
                font-family: $font1;
                width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                li {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                }
    
            }
        }
    
    }
}